*{
    margin: 0;
}
header{
    text-align: center;
}
header h1{
    font-size: 3vw;
}

header h2{
    font-size: 2.5vw;
}

.about{
    font-size: 2vw;
    text-align: center;
    font-weight: 600;

}

main p{
    font-size: 2vw;
    text-align: center;
}

.rule{
    margin-bottom: 25px;
    padding-left: 10px;
}
        
.rule-title {
            font-weight: bold;
            margin-bottom: 10px;
            font-size: 2vw;
            margin-top: 1vw;
        }
        
        ul {
            margin: 10px 0;
            padding-left: 20px;
        }
        
        li {
            margin-bottom: 5px;
            font-size: 1.5vw;
            margin-left: 1vw;
        }
        
        .note {
            font-style: italic;
            margin-top: 5px;
            
        }
        
        .price {
            color: #661717;
            font-size: 1vw;
        }

footer{
    text-align: center;
}

footer a{
    text-decoration: none;
    font-size: 1vw;
}

@media (max-width: 768px) {
header h1{
    font-size: 5vw;
}

header h2{
    font-size: 4vw;
}

.about{
    font-size: 3vw;
}

main p{
    font-size: 3.5vw;
}

        
.rule-title {
            font-size: 3.4vw;
            margin-top: 2.5vw;
        }
        
        
        li {
            margin-bottom: 5px;
            font-size: 2vw;
            margin-left: 1vw;
        }
        
        
        .price {
            color: #661717;
            font-size: 2vw;
        }

footer{
    text-align: center;
}

footer a{
    text-decoration: none;
    font-size: 1vw;
}
}